
.content-editor {
    display: flex;
    flex-direction: column;
    margin: 2em;
    margin-bottom: 0;
}

.editor {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    width: 100%;
    border: solid 1px #ccc;
    padding: 20px;
    min-height: 55vh;
    max-height: 55vh;
    overflow-y: auto;
    resize: none;
    font-size: 16px;
    outline: none;
    max-width: 50em;
    scrollbar-width: 15px;
    scrollbar-color: var(--color-primary) rgba(255, 255, 255, 0.2);
}

.editor::-webkit-scrollbar {
    width: 15px;
}

.editor::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2);
}

.editor::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 5px;
}

.editor a {
    color: rgba(0, 110, 200);
}

.sample-toolbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border: solid 1px #ddd;
    background: rgba(255, 255, 255, 0.2);
    padding: 5px;
    max-width: 50em;
}

.sample-toolbar>span {
    cursor: pointer;
}

.form-control {
    color: rgba(255, 255, 255, 0.8);
    width: 50vh;
    padding: 5px;
    border: rgba(255, 255, 255, 0.2) 1px solid;
    background-color: transparent;
    outline: none;
}

.fa {
    color: rgba(255, 255, 255, 0.6);
}

.selected {
    color: var(--color-secondary);
}

.sample-toolbar>span:hover {
    text-decoration: underline;
}

.fa-caret-down {
    margin-left: 5px;
}

.download-container {
    position: relative;
}

.file-ext-dialog {
    position: absolute;
    top: 140%;
    right: -5%;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 130px;
    height: 100px;
    border-radius: 5px;
    padding: 0.1em 0;
    display: none;
}

.file-ext-dialog div {
    text-align: center;
    width: 100%;
}

.file-ext-dialog::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -15%;
    right: 15%;
    border-left: 8px solid transparent;
    border-top: 8px solid transparent;
    border-bottom: 8px solid white;
    border-right: 8px solid transparent;
    vertical-align: middle;
}

.file-ext-dialog input {
    height: 100%;
    background: none;
    border: none;
    color: black;
    font-size: 16px;
    width: 100%;
    transition: color 500ms ease;
}

.file-ext-dialog input:hover {
    color: var(--color-primary);
}

.file-ext-dialog input:focus {
    outline: none;
}

.btm {
    position: relative;
    z-index: 1;
}

.btm::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10%;
    height: 1px;
    width: 80%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 3;
}

@media screen and (max-width: 598px) {

    .content-editor {
        margin: 1em;
        margin-bottom: 0;
    }

    .editor {
        min-height: 65vh;
    }

    #btn-download {
        min-width: 50vw !important;
        height: 2.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;    
    }

    .file-ext-dialog {
        width: 80vw;
        height: 25vh;
        left: 50%;
        transform: translateX(-50%);
        right: 0;
        justify-content: space-around;
    }

    .btm::after {
        bottom: -50%;
    }

    .file-ext-dialog::after {
        display: none;
    }
    
    .sample-toolbar {
        flex-wrap: wrap;
    }

    .form-control {
        width: 100%;
    }

}