
.form {
    margin: 8% 22%;
    background-color: rgba(0, 0, 0, 0.2);
    display: grid;
    place-items: center;
    border-radius: 10px;
}

.fields {
    margin: 1em;
    display: flex;
    flex-direction: column;
}
  
.form h3 {
    color: var(--color-secondary);
    font-size: 2rem;
    margin: 0.5em 0;
}

.field-items {
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    margin-bottom: 20px;
    width: 100%;
}

.buttons {
    min-width: 100%;
    display: flex;
    margin: 1em 0 2em 0;
    justify-content: space-evenly;
}