<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="../static/style.css" />
  <link rel="stylesheet" href="../static/editor.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  {% block head %} {% endblock %}
</head>

<body>
  <div class="container">
    <nav>
      <div class="logo">
        <img src="../static/NotesLogo.svg" alt="logo" />
        <h2>Notes</h2>
      </div>
      <ul class="nav-list">
        <li class="nav-items">
          <a href="{{url_for('home')}}" class="home"> Home </a>
        </li>
        <li class="nav-items">
          <a href="{{url_for('about')}}" class="about"> About </a>
        </li>
        <li class="nav-items">
          {% if 'user' in session %}
          {% else %}
          <a href="{{url_for('register')}}" class="button-secondary"> Register </a>
          {% endif %}
        </li>
        <li class="nav-items" id="login-btn">
          {% if 'user' in session %}
          <a href="#"
          class="button-primary">
          {% with messages = get_flashed_messages() %} 
          {% if messages %} 
          {% for message in messages %}
          <p id="logged-in">{{message}}</p>
          {% endfor %}
          {% endif %} {% endwith %}
          </a>
          {% else %}
          <a href="{{url_for('login')}}" class="button-primary">
          <p>Login</p>
        </a>
          {% endif %}
          
        </li>
      </ul>
    </nav>
    {% block content %} {% endblock %}
    {% if 'user' in session %}
    <ul class="user-navs">
      <li class="user-nav-items"><a href="{{url_for('savedNotes')}}">Saved Notes</a></li>
      <li class="user-nav-items"><a href="#">Settings</a></li>
      <li class="user-nav-items"><a href="{{url_for('logout')}}">Logout</a></li>
    </ul>
    {% endif %}
  </div>

  
  <script src="../static/app.js"></script>
  <script type=text/javascript> $SCRIPT_ROOT={{ request.script_root|tojson|safe }}; </script>
  <script>

    $('#login-btn').on(
        'click', () => {
            if ($('.user-navs').hasClass('user-navs-active')){
                $('.user-navs').animate({
                    opacity: 0
                }, 250, () => {
                    $('.user-navs').css('pointer-events', 'none');
                    $('.user-navs').removeClass('user-navs-active');
                });
            }
            else 
            {
                $('.user-navs').addClass('user-navs-active');
                $('.user-navs').animate({
                    opacity: 1,
                }, 250, () => {
                    $('.user-navs').css('pointer-events', 'all');
                });
            }
        } 
    );

    function setUserNavLocation() {
        const userNavs = $('.user-navs');
        if (userNavs) {
            userNavs.css({
                'top': '10%',
                'right': '2%',
            });  
        }
    }
    setUserNavLocation();
    window.onresize = setUserNavLocation;
    
    
</script>
</body> </html>