{% extends "base.html" %}
{% block title %}
Notes
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="../static/css/index.css">
{% endblock %}

{% block content %}
<main>
    <form action="/download_zip" method="POST"><input type="hidden" name="param1" value="value1"></form>
    <form action="{{ url_for("home")}}" method="post" id="note">
        <section class="filename-input">
            <label for="filename">Title :- </label>
            <div id="heading" contenteditable="true" class="title-input">Title goes here</div>
            {% if 'user' in session %}
            <button class="button-primary" type="button" id="btn-save">Save</button>
            {% else %}
            <div class="download-container">
                <button class="button-primary" type="button" id="btn-download">Download<span class="fa fa-caret-down" aria-hidden="true"></span>
                </button>
                <div class="file-ext-dialog">
                    <div class="ext btm"><input type="button" value=".txt"></div>
                    <div class="ext btm"><input type="button" value=".rtf"></div>
                    <div class="ext"><input type="button" value=".html"></div>
                </div>
            </div>
            {% endif %}
        </section>
        <section class="content-editor">

            <div class="editor" id="sampleeditor">
            </div>
            <div class="sample-toolbar">
                <div class="formatting-tools">
                    <a href="javascript:void(0)" onclick="format('bold')"><span class="fa fa-bold fa-fw"></span></a>
                    <a href="javascript:void(0)" onclick="format('italic')"><span class="fa fa-italic fa-fw"></span></a>
                    <a href="javascript:void(0)" onclick="format('insertunorderedlist')"><span
                            class="fa fa-list fa-fw"></span></a>
                    <a href="javascript:void(0)" onclick="setUrl()"><span class="fa fa-link fa-fw"></span></a>
                </div>
                <div>
                    <span style="display: inline-block;">
                        <input id="txtFormatUrl" placeholder="url" class="form-control">
                    </span>
                </div>
            </div>
        </section>
    </form>
</main>
<p class="saved-message">Saved</p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../static/js/download.js"></script>
<script src="../static/js/index.js"></script>

{% endblock %}