{% extends "base.html" %}
{% block title %}
Login
{% endblock %}
{% block content %}


<form action="{{ url_for("login")}}" method="POST" class="register-form">
  <h3>Login</h3>
  <section class="fields">
    <div class="field-items">
      <label for="uname">UserName :</label>
      <input type="text" name="un" />
    </div>
    <div class="field-items">
      <label for="password">Password :</label>
      <input type="password" name="pwd" id="password" />
    </div>
  </section>
  <a href="#" class="link">Forgot Password ?</a>
  <section class="buttons">
    <a href="{{url_for('register')}}" class="button-secondary">Register</a>
    <button class="button-primary" type="submit">Login</button>
  </section>
</form>

{% endblock %}