<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <link rel="stylesheet" href="../static/splash.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
</head>

<body>

    <div class="container">
        <div class="logo"><img src="../static/NotesLogo.svg" alt="Logo"></div>
        <div class="name">
            <h1>Notes</h1>
        </div>
    </div>

    <script>
        setInterval(() => {
            window.location.replace("{{url_for('home')}}")
        }, 3000);

        const timeline = gsap.timeline({
            defaults: {
                ease: "power1.out"
            }
        });

        timeline.fromTo('.logo', {
            opacity: 0,
            x: "100%",
        }, {
            x: "-12%",
            opacity: 1,
            duration: 1,
            stagger: 1,
        });

        timeline.fromTo('.name', {
            opacity: 0,
            x: "-50%",
        }, {
            x: "-10%",
            opacity: 1,
            duration: 1,
        });
    </script>

</body>

</html>